<div class="site-contact-footer">
  MPI for Dynamics and Self-Organization · Am Fassberg 17 · D &#8211; 37077 Göttingen<br>
  <a href="{{ site.baseurl }}/impressum/">Impressum</a> ·
  <a href="{{ site.baseurl }}/datenschutz/">Datenschutz</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
  crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/loadcontent.js"></script>
<script src="{{ site.baseurl }}/assets/js/migration.js"></script>
