---
permalink: /group/
title: Team
description: Current group members, visiting and affiliated researchers, alumni, and collaborators of the Priesemann Group.
---

<div class="row identity identity--plain bg-light text-dark">
  <h1 class="col col-xl-10 col-md-12 align-self-center">Group Members</h1>
</div>

<div class="content members-overview col col-xl-10 col-md-12 align-self-center">
  {% for category in site.data.group_members.categories %}
    {% include member-category.html category=category %}
  {% endfor %}
</div>

<div id="collaborators" class="row identity identity--plain bg-light text-dark">
  <h1 class="col col-xl-10 col-md-12 align-self-center">Collaborators</h1>
</div>

<div class="content collaborations-overview col col-xl-10 col-md-12 align-self-center">
  {% for area in site.data.collaborations.areas %}
    {% include collaboration-category.html area=area %}
  {% endfor %}
</div>
