{% include base_path %}
{% assign author = site.author %}

<div itemscope itemtype="https://schema.org/Person">
  <div class="author__avatar">
    <img
      src="{{ author.avatar | prepend: '/images/' | prepend: base_path }}"
      class="author__avatar"
      alt="{{ author.name | escape }}"
      fetchpriority="high"
      itemprop="image"
    >
  </div>

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    <p class="author__bio" itemprop="description">{{ author.bio }}</p>
  </div>

  <div class="author__urls-wrapper">
    <button
      class="btn btn--inverse"
      type="button"
      aria-expanded="false"
      aria-controls="author-profile-links"
    >Profiles</button>
    <ul id="author-profile-links" class="author__urls social-icons">
      <li class="author__desktop author__location">
        <i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location }}
      </li>
      <li class="author__desktop author__affiliation">
        <i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ author.employer }}
      </li>
      <li>
        <a href="{{ author.arxiv | escape }}" rel="noopener noreferrer">
          <i class="ai ai-arxiv ai-fw icon-pad-right" aria-hidden="true"></i>arXiv
        </a>
      </li>
      <li>
        <a href="{{ author.googlescholar | escape }}" rel="noopener noreferrer">
          <i class="ai ai-google-scholar ai-fw icon-pad-right" aria-hidden="true"></i>Google Scholar
        </a>
      </li>
      <li>
        <a href="{{ author.orcid | escape }}" rel="noopener noreferrer">
          <i class="ai ai-orcid ai-fw icon-pad-right" aria-hidden="true"></i>ORCID
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ author.github | escape }}" rel="noopener noreferrer">
          <i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub
        </a>
      </li>
      <li>
        <a href="{{ author.mastodon | escape }}" rel="me noopener noreferrer">
          <i class="fab fa-fw fa-mastodon icon-pad-right" aria-hidden="true"></i>Mastodon
        </a>
      </li>
      <li>
        <a href="https://twitter.com/{{ author.twitter | escape }}" rel="noopener noreferrer">
          <i class="fab fa-fw fa-x-twitter icon-pad-right" aria-hidden="true"></i>X
        </a>
      </li>
    </ul>
  </div>
</div>
